body {
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}
:root {
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  /* Styling for mobile view */
  .header {
    text-align: center;
    padding: 50px 50px;
  }
  #heading {
    font-weight: normal;
    color: var(--Gray);
  }
  #paragraph {
    font-size: 16px;
    color: var(--Very-Dark-Blue);
  }
  #info {
    display: none;
  }
  #image {
    width: 100%;
  }
  
  input[type=email] {
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    border: 1px solid var(--Pale-Blue);
    font-family: 'Libre Franklin', sans-serif;
  }
  button {
    padding: 9px 18px;
    margin-top: 20px;
    width: 100%;
    border: none;
    background-color: var(--Blue);
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Libre Franklin', sans-serif;
  }
  .content {
    padding: 25px;
    text-align: center;
  }
  .social {
    padding: 50px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  /* Styling for desktop view */
  .header {
    text-align: center;
    padding: 50px 50px;
  }
  #heading {
    font-weight: normal;
    color: var(--Gray);
  }
  #paragraph {
    font-size: 16px;
    color: var(--Very-Dark-Blue);
  }
  #info {
    display: none;
  }
  #image {
    width: 100%;
  }
  
  input[type=email] {
    width: 50%;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    border: 1px solid var(--Pale-Blue);
    font-family: 'Libre Franklin', sans-serif;
  }
  button {
    padding: 10px 20px;
    margin-top: 20px;
    width: 20%;
    border: none;
    background-color: var(--Blue);
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Libre Franklin', sans-serif;
  }
  .content {
    padding: 25px;
    text-align: center;
  }
  .social {
    padding: 50px;
    text-align: center;
  }
  .container {
    padding: 20px 200px;
  }

}